body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0px 15px;
}


/*=========HEADER==========*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    padding: 0 15px;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;

}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
}

.header-logo-color {
    color: #2E2F42;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
    position: relative;
    color: #404bbf;
}

.studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-address {
    font-style: normal;
}

.header-address-item {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-address-item:hover {
    color: #404bbf;
}

.header-address-item:focus {
    color: #404bbf;
}

/*========================*/

/*============HERO===========*/

.hero-container {
    text-align: center;
}

.hero {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2e2f42;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-img.jpg);
    background-size: cover;

}

.hero-title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}

.hero-btn {
    display: block;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 48px auto 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}

/*===========================*/

/*=============RECTANGLE===============*/

.rectangle-list {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;


}

.rectangle-item {
    width: 100%;
    max-width: 264px;
}

.rectangle-item-icon {
    display: flex;
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.rectangle-icon {
    display: block;
    width: 64px;
    height: 64px;
    position: relative;
}

.rectangle-item-title {
    margin-bottom: 8px;
}

.rectangle-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    /* 150% */
    letter-spacing: 0.32px;
}

/*==========FEATURES==========*/

/*===========================*/


.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: 100%;
    min-width: 264px;
}

.features-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

/*==============================*/

/*==========TEAM==========*/

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.team-item {
    background-color: #FFFFFF;
    width: 100%;
    min-width: 264px;
    border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-item-container {
    padding: 32px 0;
}

.team-subtitile {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.network-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.network-icon-items {
    display: block;
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
    widows: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    background-color: #404bbf;
}

.icon-link:focus {
    background-color: #404bbf;
}

.network-icon {
    display: block;
    position: relative;
    fill: #f4f4fd;
}

/*==============================*/

/*==========PORTFOLIO==========*/

.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}

.portfolio-item {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-item {}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    color: #F4F4FD;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    /* 150% */
    letter-spacing: 0.32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

/*==============================*/

/*==========FOOTER==========*/

.footer {
    background-color: #2e2f42;
    padding: 100px 0
}

.footer-logo {
    display: inline-block;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px
}

.footer-logo-color {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    background-color: #2E2F42;
    width: 100%;
    max-width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline
}

.logo-footer {
    margin-right: 120px;
}

.footer-icon {
    gap: 16px;

}

.footer-network {}

.footer-title {
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footericon:hover {
    background-color: rgba(49, 208, 170, 1);
}

.footericon:focus {
    background-color: rgba(49, 208, 170, 1);
}

.footer-subscribe {
    margin-left: 80px;
}

.subscribe-text {
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-email-label {
    color: var(--WHITE, #FFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0.48px;
}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-form-input::placeholder {
    color: #FFF;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;


}

.subscribe-btn-icon {
    margin-left: 16px;
    fill: #ffffff;
}

/*==============================*/
/*==========BACKDROP==========*/

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: #E7E9FC;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    line-height: 0;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #ffffff;
}

.review-form-description {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
    line-height: 1.17;
}

.review-form-field-wrapper-textarea {
    margin-bottom: 16px;
    line-height: 1.17;
}

.review-form-filed-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
    margin-bottom: 4px;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.review-form-field-icon {
    fill: rgba(46, 47, 66, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-imput-wrapper {
    position: relative;
}

.review-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.review-form-input:focus+.review-form-field-icon {
    fill: rgba(77, 90, 229, 1);
}

.review-form-massage {
    font-size: 12px;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-massage:focus {
    border-color: #4D5AE5;
    outline: transparent;
}

.review-form-massage::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: 0.48px;
}

.review-form-checkbox-label {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
}

.privacy-policy-link {
    color: #4D5AE5;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.review-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-own-chekbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.review-form-checkbox:checked+.review-form-checkbox-label .review-form-own-chekbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.review-form-checkbox:focus+.review-form-checkbox-label .review-form-own-chekbox {
    outline: 1px solid #404BBF;
}

.review-form-own-chekbox-icon {}

.review-form-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}